.el-message {
  width: 320px !important;
}

//全局进度条样式
#nprogress {
  .bar {
    background: #42b983 !important;
    .peg {
      box-shadow: 0 0 10px #42b983, 0 0 5px #42b983;
    }
  }

  .spinner {
    .spinner-icon {
      border-top-color: #42b983;
      border-left-color: #42b983;
    }
  }
}

//全局滚动条样式
::-webkit-scrollbar {
  background-color: #f4f4f4!important;
  height: 3px!important;
  width: 6px!important;
}
::-webkit-scrollbar-corner {
  width: 4px!important;
  height: 6px!important;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track{
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: rgba(0,0,0,0.1);
}